* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bgColor: #f1f2f4;
    --pheading: 20px;
    --sheading: 15px;
    --mcolor: #FFEB3B;
    --boxcolor: white;
    scroll-behavior: smooth;
}

.leftDiv {
    margin-top: 50px;
    display: flex;
    /* flex-direction: row-reverse; */
    height: 70vh;
}

#nimg {
    /* padding-left: 40px; */
    padding: 0px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    /* width: 20vw; */
    flex-direction: column;
}

#nimg>img {
    padding: 2px;
    height: 20% !important;
    width: 100%;
    column-gap: 20px;
    border: 2px solid var(--mcolor);
    transition: all 0.5s ease;
}

#nimg>img:hover {
    transform: scale(1.05);
}